<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Subdomain Takeover by ostapbender</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>
	<h1>Subdomain Takeover by ostapbender</h1>
	<img src="https://i.imgur.com/0lUiMto.jpg">
	
</body>
</html>
